<html>
    <body>
        <h1><%= @dojo.branch%></h1>
        <a href="/dojos/<%= @dojo.id %>/edit">Edit</a>
        <h2>Address: <%= @dojo.street%></h2>
        <h2>City: <%= @dojo.city%> State: <%= @dojo.state%></h2>
        <table>
            <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <%@students.each do |x|%>
                <tr>
                    <td><%=x.first_name%></td>
                    <td><%=x.last_name%></td>
                    <td><%=x.email%></td>
                    <td>
                        <a class="a" href="/dojos/<%= @dojo.id%>/students/<%= x.id%>">Show</a>
                        <a class="a" href="/dojos/<%= @dojo.id%>/students/<%= x.id %>/edit">Edit</a>
                        <a href="/dojos/<%= @dojo.id%>/students/<%= x.id%>" data-method="delete">Destroy</a>
                    </td>
                </tr>
                <%end%>
            </tbody>
        </table>
        <a href="/">Home</a>
        <a href="/dojos/<%=@dojo.id%>/students/new">Add Student</a>
    </body>
</html>